.navbar-brand {
    margin-left: 2%;
}
#logo-text {
    font-family: 'Copse', sans-serif;
    font-size: 30px;
    color: white;
    vertical-align: bottom;
}
.navbar-text a span {
    font-size: 20px;
}
.navbar-danger {
    background-color: #d20911;
}
.nav-link {
    color: #ffffff; 
}
.nav-link:hover {
    color: #ffffff;
    opacity: 0.6;
}
#logout {
    color: #FF0000;
}