.bg-template {background-color: #d20911}

.form-template, .btn-template  {
    border-radius: 2rem;
}

#logo-text {
    font-family: 'Copse', sans-serif;
    font-size: 30px;
    color: white;
    vertical-align: bottom;
}
@media(max-width: 62rem){
    #logo-text {
        font-size: 25px;
    }
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Niramit', sans-serif;
    color: white;
}

.navbar-nav .nav-item .nav-link:hover{
    color: white;
}

.navbar-nav .dropdown .nav-link:hover{
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10%;
}

.dropdown-content a {
    font-family: 'Niramit', sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #d20911;background-color: transparent;}
.dropdown-content a:focus {background-color: #fff;}

.dropdown:hover .dropdown-content{display: block;}

@media only screen and (min-width: 62rem) {
    .navbar-nav{
        margin-left: 20%;
    }
    .navbar-nav .nav-item .nav-link{
        margin-left: 5px;
    }
    .navbar-brand {
        margin-left: 5%;
    }
    #logo-text {
        font-size: 35px;
    }
    .navbar-nav .nav-item .active {
        border-bottom: 4px solid white;
    }
}
@media only screen and (max-width: 62rem) {
    #donos-restaurante {
      display: none;
    }
}

/* Style all font awesome icons */
#i {
    padding: 30%;
    font-size: 22px;
    width: 58px;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.55);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.55);
    box-shadow: 0 1px 2px rgba(0,0,0,.55); 
}

/* Add a hover effect if you want */
#i:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook-f {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* G+ */
.fa-google-plus {
    background: #dd4b39;
    color: white;
}

/* youtube*/
.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

a, a:hover {
    color: #ffffff;
}

.alert {
    /* width: 20%;
    top: 75vh;
    left: 20px; */
    position: fixed;
    background-color: #d20911;
    margin-bottom: 0;
}